html {
    box-sizing: border-box;
    list-style: none;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    list-style: inherit;
  }

.container {

    margin-inline: auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    border: 5px solid bisque;
    height: auto;
}
.display {
    line-height: 110px;
    font-size: 80px;
    text-align: right;
    border: 5px silver solid;
    flex: none;
    height: 125px;
    width: 500px;
}
.button {
    font-size: 32px;
    text-align: center;
    flex: none;
    border: 3px solid black;
    width: 125px;
    height: 125px;
    line-height: 110px;
}

.blue {
    transition: all .1s ease-in;
    background-color: aqua;
}
.blue.click {
    transition: all .3s ease;
    background-color: aliceblue;
    border: 6px solid white;
}
.orange {
    transition: all .1s ease-in;
    background-color: orange;
}
.orange.click {
    transition: all .3s ease;
    background-color:lightsalmon;
    border: 6px solid white;
}
.green {
    transition: all .1s ease-in;    
    background-color: green;
}
.green.click {
    transition: all .3s ease;
    background-color:lightgreen;
    border: 6px solid white;
}
